# Verification


## Supported Types

### `Components\Otp`

```php
/**
* @var Components\Otp
*/
Components\Otp $value = /* values here */
```

### `Components\Admin`

```php
/**
* @var Components\Admin
*/
Components\Admin $value = /* values here */
```

### `Components\FromOAuth`

```php
/**
* @var Components\FromOAuth
*/
Components\FromOAuth $value = /* values here */
```

### `Components\Ticket`

```php
/**
* @var Components\Ticket
*/
Components\Ticket $value = /* values here */
```

