# Verification


## Supported Types

### `Components\Otp`

```php
/**
* @var \Clerk\Backend\Models\Components\Otp
*/
Components\Otp $value = /* values here */
```

### `Components\Admin`

```php
/**
* @var \Clerk\Backend\Models\Components\Admin
*/
Components\Admin $value = /* values here */
```

### `Components\FromOAuth`

```php
/**
* @var \Clerk\Backend\Models\Components\FromOAuth
*/
Components\FromOAuth $value = /* values here */
```

### `Components\Ticket`

```php
/**
* @var \Clerk\Backend\Models\Components\Ticket
*/
Components\Ticket $value = /* values here */
```

### `Components\VerificationSAMLVerificationEmailAddressSAML`

```php
/**
* @var \Clerk\Backend\Models\Components\VerificationSAMLVerificationEmailAddressSAML
*/
Components\VerificationSAMLVerificationEmailAddressSAML $value = /* values here */
```

### `Components\EmailLink`

```php
/**
* @var \Clerk\Backend\Models\Components\EmailLink
*/
Components\EmailLink $value = /* values here */
```

### `Components\VerificationSCIM`

```php
/**
* @var \Clerk\Backend\Models\Components\VerificationSCIM
*/
Components\VerificationSCIM $value = /* values here */
```

