# Verification


## Supported Types

### `Components\Otp`

```php
/**
* @var Components\Otp
*/
Components\Otp $value = /* values here */
```

### `Components\Admin`

```php
/**
* @var Components\Admin
*/
Components\Admin $value = /* values here */
```

### `Components\Oauth`

```php
/**
* @var Components\Oauth
*/
Components\Oauth $value = /* values here */
```

